.hr-primary {
    width: 50%;
    height: 10px;
    background-color: #7338c7;
    color: #7338c7;
    border-radius: 1000px;
    border: none;
    opacity: 100%;
    box-shadow: 0px 0px 100px 0px #7338c7;
}