<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <!-- Navbar brand with image -->
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img
          src="http://bkrlibertalia.tonsite.biz/logo.png"
          alt="Logo BKR - Libertalia - City Rp  "
          width="100"
          height="100"
          class="d-inline-block align-text-top" />BKR - Libertalia - City Rp
      </a>
      <!-- Menu burger pour les écrans de petite taille -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            BKR - Libertalia - City Rp
          </h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body text-pt-black">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto fs-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">Whitelist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Qui sommes nous ? </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Forum</a>
            </li>
          </ul>
          <div class="justify-content-lg-end">
            <div class="navbar-nav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pe-3">
                  <a class="btn btn-primary fs-2" aria-current="page" href="#"
                    >Connexion <i class="bi bi-person"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>